.example-fill-remaining-space {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

button {
  margin-left: 3px;
}

.my-fab {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;
}
