
<mat-card>
  <mat-card-title>Minha Comanda</mat-card-title>
  <mat-card-title>
    <mat-form-field>
        <input placeholder="Valor Total" matInput [ngModel]="getPrecoTotal()" currencyMask readonly="true">
    </mat-form-field>
  </mat-card-title>
  <mat-card-actions>
    <button mat-raised-button (click)="addProduto()" color="primary"> Adicionar Produto </button>
    <button mat-raised-button (click)="limparQuantidades()" color="accent"> Limpar Quantidades </button>
  </mat-card-actions>
</mat-card>
<div
  *ngFor="let produto of produtos">
  <mat-card class="produtoCard">
    <mat-card-title>
      <mat-form-field>
        <input placeholder="Produto" matInput [(ngModel)]="produto.nome">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input placeholder="Preço" matInput [(ngModel)]="produto.preco" currencyMask >
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input placeholder="Quantidade" matInput [(ngModel)]="produto.quantidade" readonly="true">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
          <input placeholder="Total Produto" matInput [ngModel]="produto.getTotal()" currencyMask readonly="true">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="produto.add()" color="primary">+</button>
      <button mat-flat-button (click)="produto.remove()" color="accent">-</button>
      <button mat-flat-button (click)="remover(produto)" color="warn">x</button>
    </mat-card-actions>
  </mat-card>
</div>
